nodes/examples/queue.json
[{"id":"a047d589.c5bae8","type":"tab","label":"SB-Queue","disabled":false,"info":""},{"id":"22d8f13.aad210e","type":"inject","z":"a047d589.c5bae8","name":"","props":[{"p":"topic","vt":"str"},{"p":"time","v":"","vt":"date"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sb-queue/example","payload":"{\"val1\":1234,\"val2\":\"Abcd\"}","payloadType":"json","x":150,"y":140,"wires":[["5dfbe36f.2258b4","79f84b30.65e004"]]},{"id":"97419077.8e38c","type":"debug","z":"a047d589.c5bae8","name":"Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"19f75afc.03845d","type":"debug","z":"a047d589.c5bae8","name":"Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"d0950a46.8e67c","type":"inject","z":"a047d589.c5bae8","name":"Pull","props":[{"p":"control","v":"PULL","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":200,"wires":[["5dfbe36f.2258b4"]]},{"id":"3a1fc38f.e0ce1c","type":"inject","z":"a047d589.c5bae8","name":"Peek","props":[{"p":"control","v":"PEEK","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":240,"wires":[["5dfbe36f.2258b4"]]},{"id":"6c9aaee.f132bd","type":"inject","z":"a047d589.c5bae8","name":"Drop","props":[{"p":"control","v":"DROP","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":280,"wires":[["5dfbe36f.2258b4"]]},{"id":"1b47f512.f69fbb","type":"inject","z":"a047d589.c5bae8","name":"Flush","props":[{"p":"control","v":"FLUSH","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":320,"wires":[["5dfbe36f.2258b4"]]},{"id":"89397c10.e50138","type":"inject","z":"a047d589.c5bae8","name":"Reset","props":[{"p":"control","v":"RESET","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":360,"wires":[["5dfbe36f.2258b4"]]},{"id":"f319e649.274048","type":"inject","z":"a047d589.c5bae8","name":"Void","props":[{"p":"control","v":"VOID","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":480,"wires":[["5dfbe36f.2258b4"]]},{"id":"71dca93c.44e438","type":"catch","z":"a047d589.c5bae8","name":"Queue","scope":["5dfbe36f.2258b4"],"uncaught":false,"x":350,"y":100,"wires":[["a2543dfa.d9896"]]},{"id":"a2543dfa.d9896","type":"debug","z":"a047d589.c5bae8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":80,"wires":[]},{"id":"cd3d4520.f4c208","type":"inject","z":"a047d589.c5bae8","name":"State","props":[{"p":"control","v":"GET-STATE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":420,"wires":[["5dfbe36f.2258b4"]]},{"id":"2858a0f5.cf4d18","type":"inject","z":"a047d589.c5bae8","name":"Invalid","props":[{"p":"control","v":"INVALID","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":520,"wires":[["5dfbe36f.2258b4"]]},{"id":"5dfbe36f.2258b4","type":"sb-queue","z":"a047d589.c5bae8","name":"Queue","control":"control","warnLength":"6","maxLength":"10","enableEvents":true,"keepNewest":true,"autopeekFirst":false,"autopeekNext":false,"initEvent":true,"outputs":2,"x":350,"y":140,"wires":[["97419077.8e38c"],["19f75afc.03845d"]]},{"id":"79f84b30.65e004","type":"debug","z":"a047d589.c5bae8","name":"Msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]}]