nodes/examples/sb-counter.json
[{"id":"4b848a20541e8ed9","type":"tab","label":"SB-Counter","disabled":false,"info":"","env":[]},{"id":"14ae702fc0c74caa","type":"debug","z":"4b848a20541e8ed9","name":"Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":120,"wires":[]},{"id":"1c9750ca15af4a35","type":"debug","z":"4b848a20541e8ed9","name":"Counter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":160,"wires":[]},{"id":"2936b207496bbb49","type":"inject","z":"4b848a20541e8ed9","name":"Message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["e89e2fc5959739c6"]]},{"id":"bfc758434e2402da","type":"inject","z":"4b848a20541e8ed9","name":"Get","props":[{"p":"control","v":"GET","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":200,"wires":[["e89e2fc5959739c6"]]},{"id":"dd7525c49338d4c2","type":"inject","z":"4b848a20541e8ed9","name":"Reset","props":[{"p":"control","v":"RESET","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":240,"wires":[["e89e2fc5959739c6"]]},{"id":"3d7b931eec6ab1d9","type":"inject","z":"4b848a20541e8ed9","name":"Void","props":[{"p":"control","v":"VOID","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":280,"wires":[["e89e2fc5959739c6"]]},{"id":"b1b8a5f47e50d3b3","type":"inject","z":"4b848a20541e8ed9","name":"Invalid","props":[{"p":"control","v":"INVALID","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":320,"wires":[["e89e2fc5959739c6"]]},{"id":"551413186fb9ccd7","type":"catch","z":"4b848a20541e8ed9","name":"Counter","scope":["e89e2fc5959739c6"],"uncaught":false,"x":340,"y":80,"wires":[["03d59e9cd9c988c8"]]},{"id":"03d59e9cd9c988c8","type":"debug","z":"4b848a20541e8ed9","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":80,"wires":[]},{"id":"e89e2fc5959739c6","type":"sb-counter","z":"4b848a20541e8ed9","name":"Counter","control":"control","countMode":"1","factor":"2","min":"3","max":"10","overflowMode":"1","enableOnReset":true,"enableOnLimit":true,"enableOnOverflow":true,"enableOnCount":false,"x":340,"y":140,"wires":[["14ae702fc0c74caa"],["1c9750ca15af4a35"]]}]