nodes/examples/sb-gate.json
[{"id":"9ba1565.1b86ea8","type":"tab","label":"SB-Gate","disabled":false,"info":""},{"id":"54286614.b2836","type":"inject","z":"9ba1565.1b86ea8","name":"Open","props":[{"p":"control","v":"OPEN","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":200,"wires":[["f027d36f.ac5c18"]]},{"id":"89ada9fb.57de98","type":"inject","z":"9ba1565.1b86ea8","name":"Close","props":[{"p":"control","v":"CLOSE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":240,"wires":[["f027d36f.ac5c18"]]},{"id":"3e0f6788.5d3338","type":"inject","z":"9ba1565.1b86ea8","name":"","props":[{"p":"topic","vt":"str"},{"p":"time","v":"","vt":"date"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sb-gate/example","payload":"{\"val1\":1234,\"val2\":\"Abcd\"}","payloadType":"json","x":150,"y":140,"wires":[["f027d36f.ac5c18"]]},{"id":"b65a33c7.0f9358","type":"inject","z":"9ba1565.1b86ea8","name":"Void","props":[{"p":"control","v":"VOID","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":380,"wires":[["f027d36f.ac5c18"]]},{"id":"44c70aae.e81e3c","type":"inject","z":"9ba1565.1b86ea8","name":"Invalid","props":[{"p":"control","v":"INVALID","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":420,"wires":[["f027d36f.ac5c18"]]},{"id":"a2a48362.9cbf","type":"inject","z":"9ba1565.1b86ea8","name":"Toggle","props":[{"p":"control","v":"TOGGLE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":280,"wires":[["f027d36f.ac5c18"]]},{"id":"c4b5707e.017de8","type":"debug","z":"9ba1565.1b86ea8","name":"Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"f94c95a2.e29b7","type":"debug","z":"9ba1565.1b86ea8","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":80,"wires":[]},{"id":"f666ec24.0dbd18","type":"catch","z":"9ba1565.1b86ea8","name":"Gate","scope":["f027d36f.ac5c18"],"uncaught":false,"x":350,"y":100,"wires":[["f94c95a2.e29b7"]]},{"id":"bc7ac19.f1be44","type":"debug","z":"9ba1565.1b86ea8","name":"Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"268e0e2b.4789f2","type":"inject","z":"9ba1565.1b86ea8","name":"State","props":[{"p":"control","v":"GET-STATE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":320,"wires":[["f027d36f.ac5c18"]]},{"id":"f027d36f.ac5c18","type":"sb-gate","z":"9ba1565.1b86ea8","name":"Gate","control":"control","enableEvents":true,"initOpen":true,"initEvent":true,"outputs":2,"x":350,"y":140,"wires":[["c4b5707e.017de8"],["bc7ac19.f1be44"]]}]