nodes/examples/sb-pulse.json
[{"id":"752ae16b25393b07","type":"tab","label":"SB-Pulse","disabled":false,"info":"","env":[]},{"id":"3176be0281efbf6e","type":"inject","z":"752ae16b25393b07","name":"Send 0","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":120,"wires":[["bee04e6f913d3b08"]]},{"id":"2b8993a60ae88d90","type":"debug","z":"752ae16b25393b07","name":"Signal ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":120,"wires":[]},{"id":"dc5ce793b3c8a5ad","type":"debug","z":"752ae16b25393b07","name":"Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":200,"wires":[]},{"id":"3344f7778fe0b375","type":"catch","z":"752ae16b25393b07","name":"Pulse","scope":["bee04e6f913d3b08"],"uncaught":false,"x":330,"y":80,"wires":[["b466156575fe92b9"]]},{"id":"b466156575fe92b9","type":"debug","z":"752ae16b25393b07","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"1a4ed2dc5a8b7f0f","type":"inject","z":"752ae16b25393b07","name":"Send 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":150,"y":160,"wires":[["bee04e6f913d3b08"]]},{"id":"7739a93f91dd5df2","type":"inject","z":"752ae16b25393b07","name":"Send 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":150,"y":200,"wires":[["bee04e6f913d3b08"]]},{"id":"49520231e079f739","type":"inject","z":"752ae16b25393b07","name":"Send txt","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"text","payloadType":"str","x":140,"y":260,"wires":[["bee04e6f913d3b08"]]},{"id":"26c05e1884e17586","type":"debug","z":"752ae16b25393b07","name":"Signal OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"bee04e6f913d3b08","type":"sb-pulse","z":"752ae16b25393b07","name":"Pulse","control":"payload","lengthOn":"1000","lengthOff":500,"valueOn":1,"valueOnType":"num","valueOff":0,"valueOffType":"num","enableEvents":true,"busyMessage":"void","readyMessage":"drop","outputs":3,"x":330,"y":160,"wires":[["2b8993a60ae88d90"],["26c05e1884e17586"],["dc5ce793b3c8a5ad"]]}]