nodes/examples/sb-router.json
[{"id":"6d574b377d7cedb5","type":"tab","label":"SB-Router","disabled":false,"info":"","env":[]},{"id":"555c1b78fbf9b59c","type":"sb-router","z":"6d574b377d7cedb5","name":"Router","control":"control","outputs":3,"x":470,"y":160,"wires":[["285c325b3dd18c3c"],["d9a1e38682180d46"],["fa0f61b2c3746649"]]},{"id":"cdd887d79f28eac7","type":"inject","z":"6d574b377d7cedb5","name":"Set 1","props":[{"p":"control","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":120,"wires":[["555c1b78fbf9b59c"]]},{"id":"a27f51d6ab421e3e","type":"inject","z":"6d574b377d7cedb5","name":"Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":340,"wires":[["555c1b78fbf9b59c"]]},{"id":"4c28e88667966d53","type":"inject","z":"6d574b377d7cedb5","name":"Set 2","props":[{"p":"control","v":"2","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":160,"wires":[["555c1b78fbf9b59c"]]},{"id":"81e63f249a5e1b91","type":"inject","z":"6d574b377d7cedb5","name":"Set 3","props":[{"p":"control","v":"3","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":200,"wires":[["555c1b78fbf9b59c"]]},{"id":"285c325b3dd18c3c","type":"debug","z":"6d574b377d7cedb5","name":"Out 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"d9a1e38682180d46","type":"debug","z":"6d574b377d7cedb5","name":"Out 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]},{"id":"fa0f61b2c3746649","type":"debug","z":"6d574b377d7cedb5","name":"Out 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":200,"wires":[]},{"id":"b574ca0c9d03a22d","type":"inject","z":"6d574b377d7cedb5","name":"Set 4","props":[{"p":"control","v":"4","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":240,"wires":[["555c1b78fbf9b59c"]]},{"id":"fe0320c56ad22acc","type":"catch","z":"6d574b377d7cedb5","name":"Router","scope":["555c1b78fbf9b59c"],"uncaught":false,"x":470,"y":80,"wires":[["244563b7ea9db740"]]},{"id":"244563b7ea9db740","type":"debug","z":"6d574b377d7cedb5","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":80,"wires":[]},{"id":"4252810b5ff11415","type":"inject","z":"6d574b377d7cedb5","name":"Set txt","props":[{"p":"control","v":"text","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":280,"wires":[["555c1b78fbf9b59c"]]}]