nodes/examples/sb-watchdog.json
[{"id":"d4fd864e.eb19","type":"tab","label":"SB-Watchdog","disabled":false,"info":""},{"id":"5b7c56bb.7e479","type":"inject","z":"d4fd864e.eb19","name":"On","props":[{"p":"control","v":"ON","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":200,"wires":[["31cf99a2.761c2e"]]},{"id":"b12a7dc6.37eaf","type":"inject","z":"d4fd864e.eb19","name":"Off","props":[{"p":"control","v":"OFF","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":240,"wires":[["31cf99a2.761c2e"]]},{"id":"3a2a90a1.62e4e","type":"inject","z":"d4fd864e.eb19","name":"","props":[{"p":"topic","vt":"str"},{"p":"time","v":"","vt":"date"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sb-watchdog/example","payload":"{\"val1\":1234,\"val2\":\"Abcd\"}","payloadType":"json","x":150,"y":140,"wires":[["31cf99a2.761c2e"]]},{"id":"efcd1c8d.d49f1","type":"debug","z":"d4fd864e.eb19","name":"Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"5d9837d.b0fbcc8","type":"debug","z":"d4fd864e.eb19","name":"Event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"d87db323.e8b77","type":"catch","z":"d4fd864e.eb19","name":"Watchdog","scope":["31cf99a2.761c2e"],"uncaught":false,"x":360,"y":80,"wires":[["835f0c4.b82aaf"]]},{"id":"835f0c4.b82aaf","type":"debug","z":"d4fd864e.eb19","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":60,"wires":[]},{"id":"c1d56bbb.4d37a8","type":"inject","z":"d4fd864e.eb19","name":"Void","props":[{"p":"control","v":"VOID","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":380,"wires":[["31cf99a2.761c2e"]]},{"id":"ab2e740b.17c388","type":"inject","z":"d4fd864e.eb19","name":"Invalid","props":[{"p":"control","v":"INVALID","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":420,"wires":[["31cf99a2.761c2e"]]},{"id":"81bdab1e.5dcf58","type":"inject","z":"d4fd864e.eb19","name":"Toggle","props":[{"p":"control","v":"TOGGLE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":280,"wires":[["31cf99a2.761c2e"]]},{"id":"dc6669d0.26e078","type":"debug","z":"d4fd864e.eb19","name":"Trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":140,"wires":[]},{"id":"65c5343.e7f384c","type":"inject","z":"d4fd864e.eb19","name":"State","props":[{"p":"control","v":"GET-STATE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":320,"wires":[["31cf99a2.761c2e"]]},{"id":"31cf99a2.761c2e","type":"sb-watchdog","z":"d4fd864e.eb19","name":"Watchdog","control":"control","delay":60,"units":"seconds","enableEvents":true,"initOn":false,"initEvent":true,"outputs":3,"x":360,"y":140,"wires":[["efcd1c8d.d49f1"],["dc6669d0.26e078"],["5d9837d.b0fbcc8"]]}]